<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"><?= $lang["editSupplierModal"] ?></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <form action="/inventaryPlus/Controller/Supplier/editSupplier.php" method="post">
                <div class="modal-body">

                    <!-- <div class="mb-3" id="modal-id" style="display: none;">
                        <label for="id-proveedores-edit-nombre" class="form-label">ID</label>
                        <input type="text" id="id-proveedores-edit-nombre" class="form-control" placeholder="ID" />
                    </div> -->

                    <div class="mb-3">
                        <label for="id-proveedores-edit-nombre" class="form-label"><?= $lang["t-proveedors"] ?></label>
                        <input type="text" id="id-proveedores-edit-nombre" class="form-control" name="supplier" placeholder="<?= $lang["t-proveedor"] ?>" required />
                    </div>

                    <div class="mb-3">
                        <label for="id-proveedores-edit-direccion" class="form-label"><?= $lang["t-Direction"] ?></label>
                        <input type="direction" id="id-proveedores-edit-direccion" class="form-control" name="direction" placeholder="<?= $lang["t-Direction"] ?>" required />
                    </div>

                    <div class="mb-3">
                        <label for="id-proveedores-edit-telefono" class="form-label"><?= $lang["t-Phone"] ?></label>
                        <input type="text" id="id-proveedores-edit-telefono" class="form-control" name="phone" placeholder="<?= $lang["t-Phone"] ?>" required />
                    </div>

                    <div class="mb-3">
                        <label for="id-proveedores-edit-ciudad" class="form-label"><?= $lang["t-Country"] ?></label>
                        <input type="text" id="id-proveedores-edit-ciudad" class="form-control" name="country" placeholder="<?= $lang["t-Country"] ?>" required />

                    </div>

                    <div class="mb-3">
                        <label for="id-proveedores-edit-email" class="form-label"><?= $lang["t-Email"] ?></label>
                        <input type="text" id="id-proveedores-edit-email" class="form-control" name="email" placeholder="<?= $lang["t-Email"] ?>" required />

                    </div>

                    <div class="mb-3">
                        <label for="id-proveedores-edit-url" class="form-label">Url</label>
                        <input type="text" id="id-proveedores-edit-url" class="form-control" name="url" placeholder="Url" />

                    </div>

                    <div>
                        <label for="id-proveedores-edit-status" class="form-label">Status</label>
                        <select class="form-control" data-trigger name="status-field" id="id-proveedores-edit-status">
                            <!-- <option value="">Status</option> -->
                            <option value="Active">Active</option>
                            <option value="Block">Block</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal"><?= $lang["t-CloseCategory"] ?></button>
                        <button type="submit" class="btn btn-success" name="proveedores-editar-btn" id="proveedores-editar"><?= $lang["editSuppliers"] ?></button>
                        <!-- <button type="button" class="btn btn-success" id="edit-btn"><?= $lang["t-UpdateCategory"] ?></button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>